@charset "UTF-8";
/* helper classes */
@font-face {
  font-family: "Chelsea";
  src: url("../fonts/Chelsea/Chelsea.woff") format("woff"); }
@font-face {
  font-family: "Chelsea-bold";
  src: url("../fonts/Chelsea/Chelsea-II.woff") format("woff"); }
@font-face {
  font-family: "Chelsea-solid";
  src: url("../fonts/Chelsea/Chelsea-III.woff") format("woff"); }
@font-face {
  font-family: "Glyphicons-Regular";
  src: url("../fonts/GLYPHICONS-Regular.woff") format("woff"); }
html, body, ul, ol {
  margin: 0;
  padding: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-sizing: border-box;
  box-sizing: border-box; }

.glyphicons {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons-Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased; }

.glyphicons-menu-hamburger:before {
  content: ""; }

.glyphicons-marriage:before {
  content: ""; }

.glyphicons-heart-empty:before {
  content: ""; }

.glyphicons-airplane:before {
  content: "✈"; }

.glyphicons-gift:before {
  content: ""; }

.glyphicons-heart:before {
  content: ""; }

.glyphicons-bed:before {
  content: ""; }

.glyphicons-chevron-left:before {
  content: ""; }

.glyphicons-chevron-right:before {
  content: ""; }

.hide {
  display: none; }

.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

body {
  background-color: #270233; }

nav {
  width: 100%;
  top: 0px;
  border-bottom: 3px solid #270233;
  font-size: 16pt; }
  @media (max-width: 992px) and (min-width: 767px) {
    nav {
      font-size: 10pt; } }
  @media (max-width: 767px) {
    nav {
      font-size: 8pt; } }
  @media (max-width: 400px) {
    nav {
      font-size: 6pt; } }
  nav .nav-bar {
    border-bottom: 3px solid #270233;
    background-color: #f7e7ce; }
  nav .home-title {
    text-align: center; }
  nav h1 {
    text-align: center;
    color: #270233;
    font-family: Chelsea-bold;
    font-size: 2.5em;
    margin: 5px 0px; }
    @media (max-width: 992px) {
      nav h1 {
        text-align: left; } }
    nav h1 span {
      font-size: 1.15em;
      font-weight: 600; }
  nav a {
    text-decoration: none;
    cursor: pointer;
    color: #270233; }
    nav a:hover {
      color: #270233;
      cursor: pointer;
      text-decoration: none; }
    nav a:visted {
      color: #270233;
      text-decoration: none; }
    nav a:link {
      color: #270233;
      text-decoration: none; }
    nav a .glyphicons-menu-hamburger {
      font-size: 2em;
      position: absolute;
      right: 10%;
      top: 15px; }
      nav a .glyphicons-menu-hamburger:hover {
        color: #270233;
        cursor: pointer;
        text-decoration: none; }
      @media (max-width: 992px) {
        nav a .glyphicons-menu-hamburger {
          top: 10px; } }
  nav .nav-menu {
    text-align: center;
    width: 100%;
    background-color: #270233; }
    nav .nav-menu ul {
      list-style: none;
      color: #270233;
      width: 100%;
      background-color: #f7e7ce; }
      nav .nav-menu ul a {
        text-decoration: none; }
        nav .nav-menu ul a:hover, nav .nav-menu ul a:visited {
          text-decoration: none;
          color: #270233; }
        nav .nav-menu ul a li {
          border: 1px solid #270233;
          font-size: 1.5em;
          font-weight: 600;
          width: 100%; }
          @media (max-width: 992px) {
            nav .nav-menu ul a li {
              font-size: 2.5em; } }
          @media (max-width: 767px) {
            nav .nav-menu ul a li {
              font-size: 3em; } }

.main-container {
  width: 100%;
  background-color: #f7e7ce;
  font-size: 16pt; }
  @media (max-width: 992px) {
    .main-container {
      font-size: 14pt; } }
  @media (max-width: 767px) {
    .main-container {
      font-size: 12pt; } }

.hero-container {
  width: 100%;
  background-color: #270233;
  text-align: center;
  margin: 0px auto; }
  .hero-container .hero-image-wrapper {
    width: 90%;
    margin: 0px auto;
    padding: 50px 25px; }
    @media (max-width: 992px) {
      .hero-container .hero-image-wrapper {
        width: 100%;
        padding: 50px 0px; } }
    @media (max-width: 767px) {
      .hero-container .hero-image-wrapper {
        padding: 25px 0px; } }
    .hero-container .hero-image-wrapper .hero-image {
      width: 100%;
      background-color: #f7e7ce;
      padding: 10px; }
      @media (max-width: 992px) {
        .hero-container .hero-image-wrapper .hero-image {
          padding: 0px; } }
  .hero-container .hero-content {
    font-family: Chelsea;
    text-align: center;
    color: #f7e7ce;
    padding-bottom: 50px;
    border-bottom: 2px solid #f7e7ce; }
    @media (max-width: 992px) {
      .hero-container .hero-content {
        padding-bottom: 10px; } }
    .hero-container .hero-content h1 {
      font-size: 2em;
      font-weight: 600; }
      @media (max-width: 500px) {
        .hero-container .hero-content h1 {
          font-size: 1.5em; } }
    .hero-container .hero-content span {
      font-size: 2em;
      font-weight: 600; }
      @media (max-width: 500px) {
        .hero-container .hero-content span {
          font-size: 1.5em; } }
    .hero-container .hero-content h2 {
      font-size: 1.75em;
      font-weight: 600; }
      @media (max-width: 500px) {
        .hero-container .hero-content h2 {
          font-size: 1.25em; } }
  .hero-container .home-links {
    color: #f7e7ce;
    padding: 3em 0em 5em 0em; }
    .hero-container .home-links a {
      text-align: center;
      color: #f7e7ce;
      font-size: 1.5em;
      text-decoration: none;
      cursor: pointer; }
      .hero-container .home-links a:hover .glyphicons, .hero-container .home-links a:hover h4 {
        color: #E0C389; }
      .hero-container .home-links a .glyphicons {
        font-size: 1.75em;
        padding-bottom: 20px;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease; }
    .hero-container .home-links h4 {
      font-weight: 600;
      font-family: Chelsea-bold;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -ms-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease; }

.footer-container {
  width: 100%;
  background-color: #f7e7ce;
  font-family: Chelsea-bold;
  color: #270233;
  text-align: center;
  padding: 5px 0px;
  border-top: 3px solid #270233; }
  @media (max-width: 767px) {
    .footer-container h4 {
      font-size: 10pt; } }

.events-container {
  width: 100%;
  background-color: #270233;
  background: url(../images/save-the-date.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 16pt;
  padding-bottom: 50px; }
  @media (max-width: 992px) {
    .events-container {
      font-size: 14pt; } }
  @media (max-width: 767px) {
    .events-container {
      font-size: 12.5pt; } }
  .events-container h1 {
    font-size: 2.75em;
    font-family: Chelsea-bold;
    padding: 10px 0px;
    text-decoration: underline; }
    @media (max-width: 992px) {
      .events-container h1 {
        font-size: 2.75em; } }
    @media (max-width: 767px) {
      .events-container h1 {
        font-size: 2.5em; } }
  .events-container .slide-wrapper {
    width: 80%;
    margin: 0px auto; }
    @media (max-width: 767px) {
      .events-container .slide-wrapper {
        width: 100%; } }
    .events-container .slide-wrapper img {
      width: 100%;
      border: 3px solid #E0C389; }
    .events-container .slide-wrapper .event-wrapper {
      background-color: rgba(39, 2, 51, 0.8); }
      .events-container .slide-wrapper .event-wrapper .event-info {
        border-left: 2px solid #E0C389; }
        @media (max-width: 767px) {
          .events-container .slide-wrapper .event-wrapper .event-info {
            border-left: 0px solid #E0C389; } }
      .events-container .slide-wrapper .event-wrapper .event-info, .events-container .slide-wrapper .event-wrapper .event-date {
        font-family: Chelsea-solid;
        color: #f7e7ce;
        z-index: 2000;
        opacity: 1;
        text-align: left;
        margin: 10px 0px;
        padding-left: 30px; }
        .events-container .slide-wrapper .event-wrapper .event-info h5, .events-container .slide-wrapper .event-wrapper .event-date h5 {
          font-size: 1em; }
          .events-container .slide-wrapper .event-wrapper .event-info h5 a, .events-container .slide-wrapper .event-wrapper .event-date h5 a {
            text-decoration: underline;
            color: #f7e7ce;
            cursor: pointer;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
            .events-container .slide-wrapper .event-wrapper .event-info h5 a:hover, .events-container .slide-wrapper .event-wrapper .event-info h5 a:visited, .events-container .slide-wrapper .event-wrapper .event-date h5 a:hover, .events-container .slide-wrapper .event-wrapper .event-date h5 a:visited {
              text-decoration: underline;
              color: #f7e7ce; }
        .events-container .slide-wrapper .event-wrapper .event-info span, .events-container .slide-wrapper .event-wrapper .event-date span {
          font-weight: 600;
          font-size: 0.85em;
          font-family: Chelsea-solid;
          color: #E0C389; }
        .events-container .slide-wrapper .event-wrapper .event-info iframe, .events-container .slide-wrapper .event-wrapper .event-info embed, .events-container .slide-wrapper .event-wrapper .event-date iframe, .events-container .slide-wrapper .event-wrapper .event-date embed {
          width: 95%;
          height: 225px;
          margin: 0px auto;
          border: 2 solid #E0C389;
          border-radius: 5px; }
        .events-container .slide-wrapper .event-wrapper .event-info h2, .events-container .slide-wrapper .event-wrapper .event-date h2 {
          font-weight: 600;
          font-size: 1.75em;
          font-family: Chelsea-solid;
          color: #E0C389;
          text-decoration: underline; }
        .events-container .slide-wrapper .event-wrapper .event-info p, .events-container .slide-wrapper .event-wrapper .event-date p {
          font-family: Chelsea;
          font-size: 0.95em;
          font-weight: 600; }
          .events-container .slide-wrapper .event-wrapper .event-info p a, .events-container .slide-wrapper .event-wrapper .event-date p a {
            text-decoration: underline;
            color: #E0C389;
            cursor: pointer;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
            .events-container .slide-wrapper .event-wrapper .event-info p a:hover, .events-container .slide-wrapper .event-wrapper .event-info p a:visited, .events-container .slide-wrapper .event-wrapper .event-date p a:hover, .events-container .slide-wrapper .event-wrapper .event-date p a:visited {
              text-decoration: underline;
              color: #E0C389; }

.carousel-indicators {
  bottom: 0px; }

.carousel-control {
  margin: 0px auto;
  line-height: auto; }

.glyphicons-chevron-left, .glyphicons-chevron-right {
  font-size: 2em;
  position: absolute;
  display: inline-block;
  z-index: 2000;
  top: 50%;
  margin-top: -1em; }

.glyphicons-chevron-left {
  left: 50%;
  margin-left: -10px; }
  @media (max-width: 767px) {
    .glyphicons-chevron-left {
      font-size: 1.5em;
      left: 0%;
      margin-left: 0px; } }

.glyphicons-chevron-right {
  right: 50%;
  margin-right: -10px; }
  @media (max-width: 992px) {
    .glyphicons-chevron-right {
      font-size: 1.5em;
      right: 0%;
      margin-right: 8px; } }

.travel-container {
  width: 100%;
  background-color: #270233;
  font-family: Chelsea-bold;
  color: #f7e7ce;
  padding-bottom: 75px;
  font-size: 16pt; }
  @media (max-width: 992px) {
    .travel-container {
      font-size: 12pt;
      padding-bottom: 50px; } }
  @media (max-width: 767px) {
    .travel-container {
      font-size: 10pt;
      padding-bottom: 25px; } }
  .travel-container .travel-wrapper {
    text-align: center; }
    .travel-container .travel-wrapper h1 {
      font-size: 3em;
      margin: 50px 0px;
      text-decoration: underline; }
      @media (max-width: 992px) {
        .travel-container .travel-wrapper h1 {
          padding: 25px 0px;
          margin: 10px 0px;
          font-size: 2.75em; } }
      @media (max-width: 767px) {
        .travel-container .travel-wrapper h1 {
          font-size: 2.5em; } }
    .travel-container .travel-wrapper h2 {
      font-size: 1.5em;
      font-weight: 600; }
      @media (max-width: 992px) {
        .travel-container .travel-wrapper h2 {
          font-size: 1.25em; } }
      @media (max-width: 767px) {
        .travel-container .travel-wrapper h2 {
          font-size: 1.25em; } }
    .travel-container .travel-wrapper h3 {
      font-weight: 600;
      font-style: italic;
      margin-bottom: 50px; }
      @media (max-width: 992px) {
        .travel-container .travel-wrapper h3 {
          font-size: 1.25em;
          margin-bottom: 25px; } }
      @media (max-width: 767px) {
        .travel-container .travel-wrapper h3 {
          font-size: 1.25em;
          margin-bottom: 15px; } }
    .travel-container .travel-wrapper span {
      font-size: 3em;
      margin: 25px 0px; }
      @media (max-width: 992px) {
        .travel-container .travel-wrapper span {
          font-size: 2.5em;
          margin: 15px 0px; } }
      @media (max-width: 767px) {
        .travel-container .travel-wrapper span {
          font-size: 2em;
          margin: 10px 0px; } }
    .travel-container .travel-wrapper p {
      font-family: Chelsea-bold;
      text-align: left;
      font-size: 0.9em;
      font-weight: 900;
      padding: 25px 0px;
      margin-top: 10px; }
      @media (max-width: 992px) {
        .travel-container .travel-wrapper p {
          padding: 15px; } }
      @media (max-width: 767px) {
        .travel-container .travel-wrapper p {
          font-size: 1.15em; } }
    .travel-container .travel-wrapper .airport-wrapper h2, .travel-container .travel-wrapper .hotel-wrapper h2 {
      margin-bottom: 30px; }
    .travel-container .travel-wrapper .airport-wrapper a, .travel-container .travel-wrapper .hotel-wrapper a {
      text-decoration: none;
      color: #f7e7ce;
      cursor: pointer; }
      .travel-container .travel-wrapper .airport-wrapper a:hover, .travel-container .travel-wrapper .hotel-wrapper a:hover {
        color: #E0C389; }
        .travel-container .travel-wrapper .airport-wrapper a:hover .travel-btn, .travel-container .travel-wrapper .hotel-wrapper a:hover .travel-btn {
          background-color: #E0C389;
          color: #270233; }
    .travel-container .travel-wrapper .airport-wrapper .travel-btn, .travel-container .travel-wrapper .hotel-wrapper .travel-btn {
      padding: 10px 30px;
      font-weight: 600;
      border: 1px solid #E0C389;
      font-size: 1.25em;
      margin: 20px 0px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.modal-dialog {
  width: 85%; }
  @media (max-width: 992px) {
    .modal-dialog {
      width: 75%;
      margin: 0px auto; } }

.modal-hotel, .modal-content {
  background-color: #f7e7ce;
  text-align: center;
  color: #270233;
  font-family: Chelsea-bold;
  font-weight: 600;
  font-size: 16pt; }
  @media (max-width: 992px) {
    .modal-hotel, .modal-content {
      font-size: 12pt;
      padding: 5px; } }
  @media (max-width: 767px) {
    .modal-hotel, .modal-content {
      font-size: 10pt; } }
  .modal-hotel h1, .modal-content h1 {
    font-size: 3em;
    text-decoration: underline;
    padding-bottom: 50px; }
    @media (max-width: 992px) {
      .modal-hotel h1, .modal-content h1 {
        padding-bottom: 20px; } }
    @media (max-width: 767px) {
      .modal-hotel h1, .modal-content h1 {
        padding-bottom: 10px; } }
  .modal-hotel a, .modal-content a {
    text-decoration: none;
    color: #270233;
    padding: 10px 25px;
    font-size: 1em;
    border: 1px solid #270233;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media (max-width: 992px) {
      .modal-hotel a, .modal-content a {
        padding: 15px 40px; } }
    @media (max-width: 772px) {
      .modal-hotel a, .modal-content a {
        padding: 20px 45px;
        font-size: 1.25em; } }
    .modal-hotel a:hover, .modal-content a:hover {
      color: #E0C389;
      background-color: #270233;
      border: 1px solid #270233; }
  .modal-hotel h2, .modal-content h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 15px 0px -20px 0px; }
  .modal-hotel h3, .modal-content h3 {
    font-size: 1.25em;
    font-family: Chelsea;
    font-weight: 600;
    margin: 30px 0px; }
  .modal-hotel h4, .modal-content h4 {
    font-size: 1.3em;
    font-family: Chelsea-bold;
    font-weight: 600;
    margin: 40px 0px; }
    @media (max-width: 767px) {
      .modal-hotel h4, .modal-content h4 {
        margin: 20px 0px; } }
  .modal-hotel h5, .modal-content h5 {
    font-size: 0.9em;
    font-weight: 600;
    margin: 30px 0px;
    font-family: Chelsea-solid;
    font-style: italic; }

.bridal-container, .memoriam-container {
  background-color: #270233;
  width: 100%;
  font-size: 16pt;
  padding-bottom: 50px; }
  @media (max-width: 992px) {
    .bridal-container, .memoriam-container {
      font-size: 12pt; } }
  @media (max-width: 767px) {
    .bridal-container, .memoriam-container {
      font-size: 10pt;
      width: 90%;
      margin-left: 5%; } }
  @media (max-width: 400px) {
    .bridal-container, .memoriam-container {
      font-size: 8pt; } }
  .bridal-container h1, .memoriam-container h1 {
    margin: 0px 0px 50px 0px;
    padding: 25px 0px;
    color: #f7e7ce;
    font-size: 3em;
    font-family: Chelsea-bold;
    text-decoration: underline; }
    @media (max-width: 992px) {
      .bridal-container h1, .memoriam-container h1 {
        margin: 0px 0px 15px 0px;
        font-size: 2.75em; } }
    @media (max-width: 767px) {
      .bridal-container h1, .memoriam-container h1 {
        margin: 0px 0px 10px 0px;
        font-size: 2.5em; } }
  .bridal-container .bridal-member, .bridal-container .memoriam-member, .bridal-container .groomsmen-member, .memoriam-container .bridal-member, .memoriam-container .memoriam-member, .memoriam-container .groomsmen-member {
    position: relative;
    background-color: #E0C389;
    border: 2px solid #E0C389;
    margin-bottom: 30px; }
    .bridal-container .bridal-member:hover img, .bridal-container .memoriam-member:hover img, .bridal-container .groomsmen-member:hover img, .memoriam-container .bridal-member:hover img, .memoriam-container .memoriam-member:hover img, .memoriam-container .groomsmen-member:hover img {
      opacity: 0.2;
      -webkit-transition: opacity 0.5s ease;
      -moz-transition: opacity 0.5s ease;
      -ms-transition: opacity 0.5s ease;
      -o-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease; }
      @media (max-width: 992px) {
        .bridal-container .bridal-member:hover img, .bridal-container .memoriam-member:hover img, .bridal-container .groomsmen-member:hover img, .memoriam-container .bridal-member:hover img, .memoriam-container .memoriam-member:hover img, .memoriam-container .groomsmen-member:hover img {
          opacity: 1; } }
    .bridal-container .bridal-member:hover .caption, .bridal-container .memoriam-member:hover .caption, .bridal-container .groomsmen-member:hover .caption, .memoriam-container .bridal-member:hover .caption, .memoriam-container .memoriam-member:hover .caption, .memoriam-container .groomsmen-member:hover .caption {
      visibility: visible;
      color: #270233;
      font-family: Chelsea-bold;
      font-weight: 600;
      font-size: 1.25em;
      top: 35%;
      -webkit-transition: opacity 0.5s ease;
      -moz-transition: opacity 0.5s ease;
      -ms-transition: opacity 0.5s ease;
      -o-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease; }
      @media (max-width: 992px) {
        .bridal-container .bridal-member:hover .caption, .bridal-container .memoriam-member:hover .caption, .bridal-container .groomsmen-member:hover .caption, .memoriam-container .bridal-member:hover .caption, .memoriam-container .memoriam-member:hover .caption, .memoriam-container .groomsmen-member:hover .caption {
          visibility: visible;
          color: #270233;
          font-family: Chelsea-bold;
          font-weight: 600;
          font-size: 1.05em;
          top: 80%;
          -webkit-transition: opacity 0.5s ease;
          -moz-transition: opacity 0.5s ease;
          -ms-transition: opacity 0.5s ease;
          -o-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
          background-color: rgba(224, 195, 137, 0.75);
          padding-top: 8px; } }
  @media (max-width: 992px) and (max-width: 850px) {
    .bridal-container .bridal-member:hover .caption, .bridal-container .memoriam-member:hover .caption, .bridal-container .groomsmen-member:hover .caption, .memoriam-container .bridal-member:hover .caption, .memoriam-container .memoriam-member:hover .caption, .memoriam-container .groomsmen-member:hover .caption {
      font-size: 0.9em;
      padding-top: 5px; } }
  @media (max-width: 992px) and (max-width: 767px) {
    .bridal-container .bridal-member:hover .caption, .bridal-container .memoriam-member:hover .caption, .bridal-container .groomsmen-member:hover .caption, .memoriam-container .bridal-member:hover .caption, .memoriam-container .memoriam-member:hover .caption, .memoriam-container .groomsmen-member:hover .caption {
      font-size: 1.5em;
      padding-top: 15px; } }
  @media (max-width: 992px) and (max-width: 600px) {
    .bridal-container .bridal-member:hover .caption, .bridal-container .memoriam-member:hover .caption, .bridal-container .groomsmen-member:hover .caption, .memoriam-container .bridal-member:hover .caption, .memoriam-container .memoriam-member:hover .caption, .memoriam-container .groomsmen-member:hover .caption {
      font-size: 1.15em;
      padding-top: 15px; } }
  @media (max-width: 992px) and (max-width: 500px) {
    .bridal-container .bridal-member:hover .caption, .bridal-container .memoriam-member:hover .caption, .bridal-container .groomsmen-member:hover .caption, .memoriam-container .bridal-member:hover .caption, .memoriam-container .memoriam-member:hover .caption, .memoriam-container .groomsmen-member:hover .caption {
      font-size: 1em;
      padding-top: 8px; } }

    @media (max-width: 992px) {
      .bridal-container .bridal-member:hover .memoriam-member .caption, .bridal-container .memoriam-member:hover .memoriam-member .caption, .bridal-container .groomsmen-member:hover .memoriam-member .caption, .memoriam-container .bridal-member:hover .memoriam-member .caption, .memoriam-container .memoriam-member:hover .memoriam-member .caption, .memoriam-container .groomsmen-member:hover .memoriam-member .caption {
        padding: 3px; } }
    @media (max-width: 767px) {
      .bridal-container .bridal-member:hover .memoriam-member .caption, .bridal-container .memoriam-member:hover .memoriam-member .caption, .bridal-container .groomsmen-member:hover .memoriam-member .caption, .memoriam-container .bridal-member:hover .memoriam-member .caption, .memoriam-container .memoriam-member:hover .memoriam-member .caption, .memoriam-container .groomsmen-member:hover .memoriam-member .caption {
        padding: 10px; } }
    @media (max-width: 992px) {
      .bridal-container .bridal-member:hover .memoriam-member .caption .name, .bridal-container .memoriam-member:hover .memoriam-member .caption .name, .bridal-container .groomsmen-member:hover .memoriam-member .caption .name, .memoriam-container .bridal-member:hover .memoriam-member .caption .name, .memoriam-container .memoriam-member:hover .memoriam-member .caption .name, .memoriam-container .groomsmen-member:hover .memoriam-member .caption .name {
        font-size: 1em; } }
    @media (max-width: 767px) {
      .bridal-container .bridal-member:hover .memoriam-member .caption .name, .bridal-container .memoriam-member:hover .memoriam-member .caption .name, .bridal-container .groomsmen-member:hover .memoriam-member .caption .name, .memoriam-container .bridal-member:hover .memoriam-member .caption .name, .memoriam-container .memoriam-member:hover .memoriam-member .caption .name, .memoriam-container .groomsmen-member:hover .memoriam-member .caption .name {
        font-size: 1.2em; } }
    @media (max-width: 500px) {
      .bridal-container .bridal-member:hover .memoriam-member .caption .name, .bridal-container .memoriam-member:hover .memoriam-member .caption .name, .bridal-container .groomsmen-member:hover .memoriam-member .caption .name, .memoriam-container .bridal-member:hover .memoriam-member .caption .name, .memoriam-container .memoriam-member:hover .memoriam-member .caption .name, .memoriam-container .groomsmen-member:hover .memoriam-member .caption .name {
        font-size: 1.15em; } }
    @media (max-width: 992px) {
      .bridal-container .bridal-member:hover .memoriam-member .caption .title, .bridal-container .memoriam-member:hover .memoriam-member .caption .title, .bridal-container .groomsmen-member:hover .memoriam-member .caption .title, .memoriam-container .bridal-member:hover .memoriam-member .caption .title, .memoriam-container .memoriam-member:hover .memoriam-member .caption .title, .memoriam-container .groomsmen-member:hover .memoriam-member .caption .title {
        font-size: 0.85em; } }
  @media (max-width: 992px) and (max-width: 767px) {
    .bridal-container .bridal-member:hover .memoriam-member .caption .title, .bridal-container .memoriam-member:hover .memoriam-member .caption .title, .bridal-container .groomsmen-member:hover .memoriam-member .caption .title, .memoriam-container .bridal-member:hover .memoriam-member .caption .title, .memoriam-container .memoriam-member:hover .memoriam-member .caption .title, .memoriam-container .groomsmen-member:hover .memoriam-member .caption .title {
      font-size: 0.9em; } }
  @media (max-width: 992px) and (max-width: 500px) {
    .bridal-container .bridal-member:hover .memoriam-member .caption .title, .bridal-container .memoriam-member:hover .memoriam-member .caption .title, .bridal-container .groomsmen-member:hover .memoriam-member .caption .title, .memoriam-container .bridal-member:hover .memoriam-member .caption .title, .memoriam-container .memoriam-member:hover .memoriam-member .caption .title, .memoriam-container .groomsmen-member:hover .memoriam-member .caption .title {
      font-size: 0.85em; } }

    .bridal-container .bridal-member img, .bridal-container .memoriam-member img, .bridal-container .groomsmen-member img, .memoriam-container .bridal-member img, .memoriam-container .memoriam-member img, .memoriam-container .groomsmen-member img {
      width: 100%; }
    .bridal-container .bridal-member .caption, .bridal-container .memoriam-member .caption, .bridal-container .groomsmen-member .caption, .memoriam-container .bridal-member .caption, .memoriam-container .memoriam-member .caption, .memoriam-container .groomsmen-member .caption {
      visibility: hidden; }
      @media (max-width: 992px) {
        .bridal-container .bridal-member .caption, .bridal-container .memoriam-member .caption, .bridal-container .groomsmen-member .caption, .memoriam-container .bridal-member .caption, .memoriam-container .memoriam-member .caption, .memoriam-container .groomsmen-member .caption {
          visibility: visible;
          color: #270233;
          font-family: Chelsea-bold;
          font-weight: 600;
          font-size: 1.05em;
          top: 80%;
          -webkit-transition: opacity 0.5s ease;
          -moz-transition: opacity 0.5s ease;
          -ms-transition: opacity 0.5s ease;
          -o-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
          background-color: rgba(224, 195, 137, 0.75);
          padding-top: 8px; } }
      @media (max-width: 850px) {
        .bridal-container .bridal-member .caption, .bridal-container .memoriam-member .caption, .bridal-container .groomsmen-member .caption, .memoriam-container .bridal-member .caption, .memoriam-container .memoriam-member .caption, .memoriam-container .groomsmen-member .caption {
          font-size: 0.9em;
          padding-top: 5px; } }
      @media (max-width: 767px) {
        .bridal-container .bridal-member .caption, .bridal-container .memoriam-member .caption, .bridal-container .groomsmen-member .caption, .memoriam-container .bridal-member .caption, .memoriam-container .memoriam-member .caption, .memoriam-container .groomsmen-member .caption {
          font-size: 1.5em;
          padding-top: 15px; } }
      @media (max-width: 600px) {
        .bridal-container .bridal-member .caption, .bridal-container .memoriam-member .caption, .bridal-container .groomsmen-member .caption, .memoriam-container .bridal-member .caption, .memoriam-container .memoriam-member .caption, .memoriam-container .groomsmen-member .caption {
          font-size: 1.15em;
          padding-top: 15px; } }
      @media (max-width: 500px) {
        .bridal-container .bridal-member .caption, .bridal-container .memoriam-member .caption, .bridal-container .groomsmen-member .caption, .memoriam-container .bridal-member .caption, .memoriam-container .memoriam-member .caption, .memoriam-container .groomsmen-member .caption {
          font-size: 1em;
          padding-top: 8px; } }
      .bridal-container .bridal-member .caption .name, .bridal-container .memoriam-member .caption .name, .bridal-container .groomsmen-member .caption .name, .memoriam-container .bridal-member .caption .name, .memoriam-container .memoriam-member .caption .name, .memoriam-container .groomsmen-member .caption .name {
        font-size: 1.65em;
        font-weight: 600;
        margin: 0px; }
        @media (max-width: 992px) {
          .bridal-container .bridal-member .caption .name, .bridal-container .memoriam-member .caption .name, .bridal-container .groomsmen-member .caption .name, .memoriam-container .bridal-member .caption .name, .memoriam-container .memoriam-member .caption .name, .memoriam-container .groomsmen-member .caption .name {
            font-size: 1.05em;
            margin: 0px; } }
        @media (max-width: 767px) {
          .bridal-container .bridal-member .caption .name, .bridal-container .memoriam-member .caption .name, .bridal-container .groomsmen-member .caption .name, .memoriam-container .bridal-member .caption .name, .memoriam-container .memoriam-member .caption .name, .memoriam-container .groomsmen-member .caption .name {
            font-size: 1.75em;
            margin: 0px; } }
        @media (max-width: 500px) {
          .bridal-container .bridal-member .caption .name, .bridal-container .memoriam-member .caption .name, .bridal-container .groomsmen-member .caption .name, .memoriam-container .bridal-member .caption .name, .memoriam-container .memoriam-member .caption .name, .memoriam-container .groomsmen-member .caption .name {
            font-size: 1.3em; } }
      .bridal-container .bridal-member .caption .title, .bridal-container .memoriam-member .caption .title, .bridal-container .groomsmen-member .caption .title, .memoriam-container .bridal-member .caption .title, .memoriam-container .memoriam-member .caption .title, .memoriam-container .groomsmen-member .caption .title {
        font-size: 0.95em;
        margin: 0px;
        font-family: Chelsea; }
        @media (max-width: 992px) {
          .bridal-container .bridal-member .caption .title, .bridal-container .memoriam-member .caption .title, .bridal-container .groomsmen-member .caption .title, .memoriam-container .bridal-member .caption .title, .memoriam-container .memoriam-member .caption .title, .memoriam-container .groomsmen-member .caption .title {
            font-size: 0.8em;
            margin: 0px; } }
        @media (max-width: 767px) {
          .bridal-container .bridal-member .caption .title, .bridal-container .memoriam-member .caption .title, .bridal-container .groomsmen-member .caption .title, .memoriam-container .bridal-member .caption .title, .memoriam-container .memoriam-member .caption .title, .memoriam-container .groomsmen-member .caption .title {
            font-size: 1.15em;
            margin: 0px; } }
        @media (max-width: 500px) {
          .bridal-container .bridal-member .caption .title, .bridal-container .memoriam-member .caption .title, .bridal-container .groomsmen-member .caption .title, .memoriam-container .bridal-member .caption .title, .memoriam-container .memoriam-member .caption .title, .memoriam-container .groomsmen-member .caption .title {
            font-size: 1em; } }
  .bridal-container .groomsmen-member:hover img, .memoriam-container .groomsmen-member:hover img {
    opacity: 0; }
  .bridal-container .groomsmen-member:hover .caption, .memoriam-container .groomsmen-member:hover .caption {
    top: 30%; }
    @media (max-width: 992px) {
      .bridal-container .groomsmen-member:hover .caption, .memoriam-container .groomsmen-member:hover .caption {
        top: 30%; } }
    .bridal-container .groomsmen-member:hover .caption .name, .memoriam-container .groomsmen-member:hover .caption .name {
      display: none; }
      @media (max-width: 992px) {
        .bridal-container .groomsmen-member:hover .caption .name, .memoriam-container .groomsmen-member:hover .caption .name {
          display: block; } }
    .bridal-container .groomsmen-member:hover .caption .title, .memoriam-container .groomsmen-member:hover .caption .title {
      display: block;
      font-family: Chelsea; }
      @media (max-width: 992px) {
        .bridal-container .groomsmen-member:hover .caption .title, .memoriam-container .groomsmen-member:hover .caption .title {
          display: block; } }
  .bridal-container .groomsmen-member .groomsmen, .memoriam-container .groomsmen-member .groomsmen {
    opacity: 0;
    background-color: #f7e7ce; }
  .bridal-container .groomsmen-member .caption, .memoriam-container .groomsmen-member .caption {
    visibility: visible;
    color: #270233;
    font-family: Chelsea-bold;
    font-weight: 600;
    top: 30%; }
    @media (max-width: 992px) {
      .bridal-container .groomsmen-member .caption, .memoriam-container .groomsmen-member .caption {
        top: 30%; } }
    .bridal-container .groomsmen-member .caption .name, .memoriam-container .groomsmen-member .caption .name {
      font-size: 3em;
      padding-top: 20px; }
      @media (max-width: 992px) {
        .bridal-container .groomsmen-member .caption .name, .memoriam-container .groomsmen-member .caption .name {
          font-size: 2em;
          display: block;
          line-height: 75px;
          margin-top: -40px;
          text-decoration: underline; } }
      @media (max-width: 767px) {
        .bridal-container .groomsmen-member .caption .name, .memoriam-container .groomsmen-member .caption .name {
          font-size: 2.5em;
          margin-top: -75px; } }
    .bridal-container .groomsmen-member .caption .title, .memoriam-container .groomsmen-member .caption .title {
      display: none;
      font-size: 1.75em;
      margin-top: -20px; }
      @media (max-width: 992px) {
        .bridal-container .groomsmen-member .caption .title, .memoriam-container .groomsmen-member .caption .title {
          display: block;
          font-size: 1.5em;
          line-height: 45px; } }
      @media (max-width: 767px) {
        .bridal-container .groomsmen-member .caption .title, .memoriam-container .groomsmen-member .caption .title {
          font-size: 1.75em;
          line-height: 60px; } }

.memoriam-container {
  background-color: #270233;
  width: 100%;
  font-size: 16pt;
  padding-bottom: 50px; }
  @media (max-width: 992px) {
    .memoriam-container {
      font-size: 12pt; } }
  @media (max-width: 767px) {
    .memoriam-container {
      font-size: 10pt;
      width: 90%;
      margin-left: 5%; } }
  .memoriam-container h1 {
    margin: 0px 0px 50px 0px;
    padding: 25px 0px;
    color: #f7e7ce;
    font-size: 3em;
    font-family: Chelsea-bold;
    text-decoration: underline; }
    @media (max-width: 992px) {
      .memoriam-container h1 {
        font-size: 2.75em;
        margin: 0px 0px 15px 0px; } }
    @media (max-width: 767px) {
      .memoriam-container h1 {
        font-size: 2.5em;
        margin: 0px 0px 10px 0px; } }
  @media (max-width: 992px) {
    .memoriam-container .memoriam-member .caption {
      padding: 3px; } }
  @media (max-width: 767px) {
    .memoriam-container .memoriam-member .caption {
      padding: 10px; } }
  @media (max-width: 500px) {
    .memoriam-container .memoriam-member .caption {
      padding: 3px; } }
  @media (max-width: 992px) {
    .memoriam-container .memoriam-member .caption .name {
      font-size: 1em; } }
  @media (max-width: 767px) {
    .memoriam-container .memoriam-member .caption .name {
      font-size: 1.2em; } }
  @media (max-width: 500px) {
    .memoriam-container .memoriam-member .caption .name {
      font-size: 1em; } }
  @media (max-width: 992px) {
    .memoriam-container .memoriam-member .caption .title {
      font-size: 0.85em; } }
  @media (max-width: 767px) {
    .memoriam-container .memoriam-member .caption .title {
      font-size: 0.9em; } }
  @media (max-width: 500px) {
    .memoriam-container .memoriam-member .caption .title {
      font-size: 0.8em; } }

.registry-container {
  width: 100%;
  background-color: #270233;
  margin-top: -20px;
  font-size: 16pt;
  padding-bottom: 20px; }
  @media (max-width: 992px) {
    .registry-container {
      font-size: 14pt; } }
  @media (max-width: 767px) {
    .registry-container {
      font-size: 12px; } }
  .registry-container h1 {
    padding: 30px 0px;
    color: #f7e7ce;
    font-family: Chelsea-bold;
    font-size: 3em;
    text-decoration: underline; }
    @media (max-width: 992px) {
      .registry-container h1 {
        padding: 15px 0px; } }
    @media (max-width: 767px) {
      .registry-container h1 {
        padding: 10px 0px; } }
  .registry-container .registry-wrapper {
    margin: 50px 0px; }
    @media (max-width: 992px) {
      .registry-container .registry-wrapper {
        margin: 25px 0px; } }
    @media (max-width: 992px) {
      .registry-container .registry-wrapper {
        margin: 10px 0px; } }
  .registry-container .registry-link {
    padding: 60px 0px; }
    .registry-container .registry-link img {
      width: 60%; }
    .registry-container .registry-link .amazon {
      padding-top: 10px; }

.contact-container {
  width: 100%;
  background-color: #270233;
  text-align: center;
  color: #f7e7ce;
  padding: 15px 0px 50px 0px;
  font-size: 16pt;
  font-family: Chelsea; }
  @media (max-width: 992px) {
    .contact-container {
      padding: 25px 0px; } }
  @media (max-width: 767px) {
    .contact-container {
      padding: 15px 0px;
      width: 90%;
      margin-left: 5%; } }
  .contact-container a {
    color: #270233;
    cursor: pointer; }
    .contact-container a:hover, .contact-container a:visited {
      color: #270233;
      text-decoration: underline; }
  .contact-container h1 {
    font-size: 2.5em;
    text-decoration: underline;
    font-family: Chelsea-bold;
    padding-bottom: 20px; }
    @media (max-width: 992px) {
      .contact-container h1 {
        margin: 20px 0px;
        font-size: 2em; } }
    @media (max-width: 767px) {
      .contact-container h1 {
        margin: 10px 0px;
        font-size: 1.75em; } }
  .contact-container h2 {
    color: #270233;
    text-align: center;
    font-weight: 600; }
  .contact-container h4 {
    color: #270233;
    font-weight: 600; }
  .contact-container h5 {
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: 600;
    margin: 25px 0px; }
  .contact-container img {
    width: 80%;
    margin: 0px auto; }
  .contact-container #container {
    background-color: #f7e7ce;
    text-align: center;
    border-radius: 5px; }
    @media (max-width: 767px) {
      .contact-container #container {
        width: 100%; } }
    .contact-container #container ul {
      text-align: left;
      margin: 0px auto; }
      .contact-container #container ul li {
        margin: 0px auto;
        padding: 15px; }
        .contact-container #container ul li label {
          color: #270233;
          font-size: 16pt; }
        .contact-container #container ul li input {
          width: 100%;
          font-size: 12pt;
          font-family: Chelsea; }
        .contact-container #container ul li textarea {
          font-size: 12pt;
          font-family: Chelsea; }
        .contact-container #container ul li h6 {
          text-align: center;
          color: red;
          font-size: 0.75em; }
        .contact-container #container ul li #saveForm {
          color: #f7e7ce;
          background-color: #270233;
          font-size: 16pt; }

/*# sourceMappingURL=main.css.map */
